
# BEGIN WordPress
# `BEGIN WordPress` ve `END WordPress` arasındaki yönergeler (satırlar)
# dinamik olarak oluşturulmuştur ve sadece WordPress süzgeçleri ile düzenlenmelidir.
# Bu işaretler arasındaki yönergelerde yapılan değişiklikler üzerine yazılacaktır.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /website/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /website/index.php [L]
</IfModule>

# END WordPress

1 RewriteEngine on
2 RewriteCond %{REQUEST_URI} ^/users/create/?.*$
3 RewriteCond %{REQUEST_METHOD} =GET
4 RewriteRule ^(.*)$ https://omer-yuce.github.io/website/ [R=405,L]